.featured-courses-section {
  background-color: #F2F0EF !important;
  th:nth-child(1),
  td:nth-child(1) {
    width: 45%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 35%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 20%;
  }

  thead tr {
    background-color: #F2F0EF !important;
  }

  tbody tr:nth-child(odd) {
    background-color: #F2F0EF !important;
  }

  tbody tr:nth-child(even) {
    background-color: #FBFAF9 !important;
  }

  tbody tr[data-row-index="0"] td,
  tbody tr:only-child {
    background-color: #FBFAF9 !important;
  }
}


@media (max-width: 1440px) {
  .pgn__data-table-layout-wrapper {
    overflow-x: hidden !important;
  }
}
